name: CI - Amazon Sales Retrain + Docker

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  retrain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 pandas scikit-learn matplotlib dagshub

      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local --experiment-name Amazon_Sales

      - name: Collect Artifacts for Docker
        if: success()
        run: |
          python - << 'PY'
          import os, shutil, mlflow, glob
          
          # Cari folder mlruns di mana saja (dinamis)
          candidates = glob.glob("**/mlruns", recursive=True)
          if not candidates:
              raise SystemExit("Error: Folder mlruns tidak ditemukan!")
          
          mlruns_dir = os.path.abspath(candidates[0])
          mlflow.set_tracking_uri(f"file:{mlruns_dir}")
          
          # Ambil Run terbaru
          runs = mlflow.search_runs(order_by=["start_time DESC"], max_results=1)
          if runs.empty:
              raise SystemExit("Error: Tidak ada data Run di mlruns!")
          
          run_id = runs.iloc[0].run_id
          print(f"Mengambil Model dari Run ID: {run_id}")
          
          # Download model ke folder temp_model
          model_src = mlflow.artifacts.download_artifacts(run_id=run_id, artifact_path="model")
          dst = os.path.join(os.getcwd(), "temp_model")
          if os.path.exists(dst): shutil.rmtree(dst)
          shutil.copytree(model_src, dst)
          PY

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: temp_model/

  docker:
    needs: retrain
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download Model
        uses: actions/download-artifact@v4
        with:
          name: trained-model
          path: temp_model

      - name: Build & Push Docker
        run: |
          pip install mlflow==2.19.0 scikit-learn pandas
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/amazon-sales-model:latest"
          mlflow models build-docker -m "temp_model" -n "$IMAGE"
          docker push "$IMAGE"
