name: MLflow Retraining Workflow

on:
  push:
    branches: [ main ]
    paths:
      - 'MLProject/Amazon_Preprocessing/**' 
  workflow_dispatch: 

jobs:
  retrain-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/set-up-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install mlflow dagshub pandas scikit-learn matplotlib

    - name: Run MLflow Project
      env:
        MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
      run: |
        # Berpindah ke direktori folder MLProject lalu jalankan
        cd MLProject
        mlflow run . --no-conda
