name: CI - Amazon Sales Retrain + Docker

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  retrain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 dagshub pandas scikit-learn matplotlib

      - name: Run MLflow Project (Training)
        env:
          MLFLOW_TRACKING_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
          MLFLOW_TRACKING_PASSWORD: ${{ secrets.DAGSHUB_TOKEN }}
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          cd MLProject
          mlflow run . \
            --env-manager=local \
            --experiment-name Amazon_Sales \
            -P data_path=Amazon_Preprocessing/amazon_train.csv \
            -P target=TotalAmount

      - name: Collect Artifacts for Docker
        if: success()
        env:
          DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
        run: |
          python - << 'PY'
          import os, shutil, mlflow
          repo = "VanQ28/Workflow_CI"
          mlflow.set_tracking_uri(f"https://dagshub.com/{repo}.mlflow")
          
          # Ambil Run terbaru
          run = mlflow.search_runs(experiment_names=["Amazon_Sales_Project"], order_by=["start_time DESC"], max_results=1).iloc[0]
          run_id = run.run_id
          print(f"Downloading model for Docker build. Run ID: {run_id}")
          
          # Download ke folder 'temp_model' (tidak akan di-push ke git)
          path = mlflow.artifacts.download_artifacts(run_id=run_id, artifact_path="model")
          shutil.copytree(path, "temp_model", dirs_exist_ok=True)
          PY

      - name: Upload Model as Workflow Artifact (Internal)
        # Ini menyimpan file di GitHub Actions (bukan di repo) selama 90 hari
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: temp_model/

  docker:
    needs: retrain
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download Model
        uses: actions/download-artifact@v4
        with:
          name: trained-model
          path: temp_model

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Login Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build & Push Docker
        run: |
          pip install mlflow==2.19.0 scikit-learn pandas
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/workflow_ci:latest"
          # Build menggunakan folder temp_model hasil download
          mlflow models build-docker -m "temp_model" -n "$IMAGE"
          docker push "$IMAGE"
