name: CI - Amazon Sales Retrain + Docker

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  retrain:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 pandas scikit-learn matplotlib dagshub

      - name: Run MLflow Project (Local Training)
        run: |
          cd MLProject
          # Menjalankan training lokal (menghindari error 'Run Not Found' di DagsHub)
          mlflow run . --env-manager=local

      - name: Collect Artifacts for Docker
        if: success()
        run: |
          python - << 'PY'
          import os, shutil, mlflow
          # Set tracking ke folder lokal yang baru saja dibuat oleh mlflow run
          mlflow.set_tracking_uri(f"file:{os.getcwd()}/MLProject/mlruns")
          
          # Ambil Run terbaru dari experiment lokal
          # Pastikan experiment_names sesuai dengan yang ada di Modelling.py (Amazon_Sales)
          runs = mlflow.search_runs(experiment_names=["Amazon_Sales"], order_by=["start_time DESC"], max_results=1)
          
          if runs.empty:
              raise SystemExit("Error: Tidak ada local run yang ditemukan di mlruns!")
          
          run_id = runs.iloc[0].run_id
          print(f"Mengambil model lokal. Run ID: {run_id}")
          
          # Download model dari mlruns lokal ke folder temp_model
          path = mlflow.artifacts.download_artifacts(run_id=run_id, artifact_path="model")
          shutil.copytree(path, "temp_model", dirs_exist_ok=True)
          PY

      - name: Upload Model as Workflow Artifact
        uses: actions/upload-artifact@v4
        with:
          name: trained-model
          path: temp_model/

  docker:
    needs: retrain
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download Model Artifact
        uses: actions/download-artifact@v4
        with:
          name: trained-model
          path: temp_model

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Login Docker Hub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Build & Push Docker
        run: |
          pip install mlflow==2.19.0 scikit-learn pandas
          IMAGE="${{ secrets.DOCKERHUB_USERNAME }}/workflow_ci:latest"
          # Build docker menggunakan model yang sudah di-download tadi
          mlflow models build-docker -m "temp_model" -n "$IMAGE"
          docker push "$IMAGE"
